<div class="signInContainer">
    <div class="card">
        <img width="300px" class="cardBackground" src="../../../assets/pinterest_profile_image.png">
        <div class="error" *ngIf="error">{{error}}</div>
        <form [formGroup]="authForm" (submit)="onSubmit()">
            <div class="signInForm">
                <ng-container *ngIf="authForm.controls.email.errors">
                    <div class="error" *ngIf="authForm.controls.email.touched &&  authForm.controls.email.errors.required">
                        Email is required
                    </div>
                </ng-container>
             <input formControlName="email" type="email">
             <label>Email</label>
             <ng-container *ngIf="authForm.controls.password.errors">
             <div class="error" *ngIf="authForm.controls.password.touched &&  authForm.controls.password.errors.required">
                Password is required
            </div>
            <div class="error" *ngIf="authForm.controls.password.touched &&  authForm.controls.password.errors.minlength">
               password has to be atleast 6 characters long
            </div>
        </ng-container>
             <input formControlName="password" type="password">
             <label>Password</label>
             <input type="submit">
        </div>
        </form>
    </div>
   
</div>

