<div class="card text-dark bg-light mb-3 mt-3" style="max-width: 99%;margin: auto;border-radius: 10px;">
  <div class="card-header">Jobs</div>
  <!-- <div class="alert alert-danger" role="alert" *ngIf="error">
    {{error}}
  </div>
  <div class="alert alert-success" role="alert" *ngIf="success">
    {{success}}
  </div> -->
  <ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let job of jobs">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{job.jobTitle}} <i [routerLink]="['../EditJob',job.jobId]" class="fa fa-pencil" aria-hidden="true" style="cursor: pointer;"></i></div>
        {{job.field}}
      </div>
      <span class="badge bg-primary rounded-pill">{{job.recruiterName}}</span>
    </li>
  </ol>
</div>