 <div class="page-wrapper toggled">
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div routerLink="/" class="sidebar-brand" style="height: 105px; cursor: pointer;" >
        
        </div>
        <div class="sidebar-header">
          
          <div class="user-info" #test>
            <span class="user-name"><strong>{{userName}}</strong></span>
            <span class="user-role">{{userRoles}}</span>
          </div>
          <div class="user-pic" (click)="signOut()">
            <i class="fa fa-power-off fa-2x power-off" aria-hidden="true"></i>
          </div>
        </div>
 
        <div #container #Items class="sidebar-menu">
          <ul>
            <div class="header-menu" *ngFor="let tab of tabs"><span class="tab" [routerLink]="tab.pageLink" >{{tab.pageName}}</span>
            <li class="sidebar-dropdown " *ngFor="let subPage of tab.subPages;let i = index">
              <a ><span class="subPage" (click)="expandMenu($event,i)">{{subPage.pageName}}</span></a>
              <!-- routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" -->
              <!-- [queryParams]="{allowEdit:true}" can be added alongside routerlink. These can be accessed from activatedRoute-->
              <div class="sidebar-submenu" *ngFor="let childPage of subPage.childPages"  [routerLink]="childPage.pageLink" [queryParams]="showQueryParams(childPage.pageLink)"   class="hidesubmenu" #Menu id="{{subPage.pageName}}">
                <ul>
                  <li>
                      <a><span class="childPage">{{childPage.pageName}}</span></a>
                    </li>
                </ul>
              </div>
              
            </li>
           </div>
          </ul>
        </div>
      </div>
    </nav>
    <main>
        <div>
          <router-outlet>
          </router-outlet>
      </div>
    </main>
  </div>
  