/*----------------page-wrapper----------------*/
.page-wrapper {
  height: 98vh;
  background:rgb(236, 235, 235);
  width: 81.5%;
  float: right;
  position: fixed;
  top: 10;
  left: 277px;
  border-radius: 8px;
  margin-top: 10px;
}

/*----------------toggeled sidebar----------------*/
.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}
@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 300px;
  }
}

.page-wrapper.toggled #toggle-sidebar {
  position: absolute;
  color: #cacaca;
}

/*----------------sidebar-wrapper----------------*/
.sidebar-wrapper {
  width: 267px;
  background: #1d1d1d;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidebar-wrapper a {
  text-decoration: none;
}


/*--------------------sidebar-brand----------------------*/
.sidebar-wrapper .sidebar-brand {
  padding: 15px 20px;
  text-align: center;
  background: url('../../assets/logo.png');
}


.sidebar-wrapper .sidebar-brand > a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

/*--------------------sidebar-header----------------------*/
.sidebar-wrapper .sidebar-header {
  padding: 20px;
  overflow: hidden;
  border-top: 1px solid #2b2b2b;
}
.sidebar-wrapper .sidebar-header .user-pic {
  float: left;
  width: 60px;
  padding: 5px;
  border: 1px solid #585858;
  border-radius: 8px;
  margin-left: 20px;
  cursor: pointer;
}
.profileImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.sidebar-wrapper .sidebar-header .user-info {
  float: left;
  color: #b3b8c1;
}
.sidebar-wrapper .sidebar-header .user-info span {
  display: block;
}
.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 12px;
  color: #7c818a;
}
.sidebar-wrapper .sidebar-header .user-info .user-status * {
  display: inline-block;
  color: #7c818a;
  font-size: 12px;
}
.sidebar-wrapper .sidebar-header .user-info .user-status i{
  font-size: 8px;
  color:#21e80b;  
}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search {
  border-top: 1px solid #2b2b2b;
}
.sidebar-wrapper .sidebar-search > div {
  padding: 10px 20px;
}
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-addon {
  background: #2b2b2b;
  box-shadow: none;
  color: #7c818a;
  border-color: #2b2b2b;
  transition: color 0.5s;
}
/*----------------------sidebar-menu-------------------------*/
.sidebar-wrapper .sidebar-menu {
  border-top: 1px solid #2b2b2b;
  padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}
.tab{
  color: rgb(238, 226, 226);
  text-transform: uppercase;
}
.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  color: #7c818a;
  text-decoration: none;
  transition: color 0.3s;
  position: relative;
  padding: 8px 0px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li:hover > a,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a {
  color: #b3b8c1;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 14px;
  background: #2b2b2b;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background: #2b2b2b;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .badge {
  background: #384558;
}
.hidesubmenu {
  display: none;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}
/*--------------------------side-footer------------------------------*/

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  background: #2b2b2b;
}
.sidebar-footer > a {
  flex-grow: 1;
  text-align: center;

  height: 30px;
  line-height: 30px;
  color: #7c818a;
  position: relative;
}
.sidebar-footer > a:hover {
  color: #b3b8c1;
}
.sidebar-footer > a .notification {
  position: absolute;
  top: 0;
}
.subPage{
  cursor: pointer;
}
.childPage{
  cursor: pointer;
  text-decoration: underline;
}

/*--------------------------page-content-----------------------------*/
.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
}
.page-wrapper .page-content > div {
  padding: 20px 40px;
}
.page-wrapper .page-content {
  overflow-x: hidden;
}
/*---------------------toggle-sidebar button-------------------------*/
#toggle-sidebar {
  position: fixed;
  top: 13px;
  left: 25px;
  color: #0f151f;
  font-size: 18px;
}

/*----------------  Scroll bar style   --------------- */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  color: #9c9c9c;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #657692;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #657692;
}
::-webkit-scrollbar-thumb:active {
  background: #657692;
}
::-webkit-scrollbar-track {
  background: #0c1119;
  border: 0px none #ffffff;
  border-radius: 71px;
}
::-webkit-scrollbar-track:hover {
  background: #0c1119;
}
::-webkit-scrollbar-track:active {
  background: #0c1119;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.main{
  display: flex;
  background: royalblue;
}