<div class="card text-dark bg-light mb-3 mt-3" style="max-width: 99%;margin: auto;border-radius: 10px;">
  <div class="card-header">Add/Edit Job</div>
   <div class="card-body col-12">

    <div class="row">
        <div class="col-12 col-lg-6 col-xl-4">
          <select class="form-select mb-3 " aria-label="Default select example">
            <option selected>Select Employer</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>

    <div class="col-12 col-lg-6 col-xl-4">
        <div class="input-group mb-3">
            <span class="input-group-text">Job Title</span>
            <input type="text" class="form-control" aria-label="Job Title">
          </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-4">
        <div class="input-group mb-3">
            <span class="input-group-text">Field</span>
            <input type="text" class="form-control" aria-label="Field">
          </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-4">
        <div class="input-group mb-3">
            <span class="input-group-text">Location</span>
            <input type="text" class="form-control" aria-label="Location">
          </div>
    </div>

    <div class="col-12">
        <div class="input-group">
            <span class="input-group-text">Job Description</span>
            <textarea class="form-control" aria-label="With textarea" style="height: 100px;"></textarea>
          </div>
    </div>
</div>
        <button type="button" class="btn btn-primary mt-3"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>
</div>

</div>