<div class="card text-dark bg-light mb-3 mt-3" style="max-width: 99%;height:96.5vh;margin: auto;border-radius: 10px;" *ngIf="users else noUsersFound">
    <div class="card-header">Users</div>
      <input  class="form-control me-2 mb-1" (input)="filterUsers($event.target.value)" type="search" placeholder="Search by User Name, roles, phone, email" aria-label="Search">
    <ol class="list-group list-group-numbered ol-container">
      <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let user of filteredUsers">
      
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{user.userName}} <i [routerLink]="['../EditJob']" [queryParams]="{isEdit:true}" class="fa fa-pencil" aria-hidden="true" style="cursor: pointer;"></i></div>
          {{user.roleName}} - {{user.phone}}
        </div>
        <span class="badge bg-primary rounded-pill">{{user.email}}</span>
      </li>
    </ol>
  </div>
  <ng-template #noUsersFound> 
    <div class="alert alert-danger text-center" role="alert">
    No users to display
  </div> </ng-template> 